<section data-ng-controller="HomeController">
    <div class="row">
        <div class="app-intro">
            <section class="container">
                <h1>ArchTech</h1>
                <h3>Създай, съхрани, покажи и обсъди своите макети!</h3>
            </section>
        </div>
        <div class="app-info">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h3><i class="glyphicon glyphicon-pencil"></i>Създай</h3>
                        <p>Създай своите макери, картинки, банери, дизайни и какво ли още не, заедно с твоя екип в Archtech</p>
                    </div>
                    <div class="col-lg-4">
                        <h3><i class="glyphicon glyphicon-cloud"></i>Съхрани</h3>
                        <p>Съхрани готовите изображения в Облака. Така можеш да ги достъпиш независимо къде си и от какво устройство!</p>
                    </div>
                    <div class="col-lg-4">
                        <h3><i class="glyphicon glyphicon-picture"></i>Покажи</h3>
                        <p>Покажи избраженията на своя екип в реално време, докато още ги създаваш.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h3><i class="glyphicon glyphicon-comment"></i>Обсъди</h3>
                        <p>Обсъди проекта с твоя екип в реално време посредством Чат системата.</p>
                    </div>
                    <div class="col-lg-4">
                        <h3><i class="glyphicon glyphicon-download-alt"></i>Изтегли</h3>
                        <p>Изтегли и предай за печат готовите изображения.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Какво е ArchTech?</h1>
            <p><strong>ArchTech</strong> е интерактивно уеб приложение, чрез което се улеснява процеса на дизайн и скициране на дадена задача. Независимо дали тя е уеб сайт, банер, лого,  макет или дори чертеж на сграда.</p>
            <p>Ти можеш да съхраниш свои готови скици, шаблони, изображения или дори да направиш нови в “real-time” заедно със своите клиенти / съотборници / колеги.</p>
            <p>Също така ти можеш да обсъждаш заедно със своите клиенти в “real-time” дадено изображение, посредством чат системата</p>

            <div data-ng-hide="authentication.user">
                <h1>Как да започнеш?</h1>
                <p>Единственото, което трябва да направиш е да се <a href="/#!/signup">регистрираш</a> или да <a href="/#!/signin">влезеш</a></p>
            </div>

            <h1>Изисквания</h1>
            <p><i class="glyphicon glyphicon-ok"></i> <strong>Internet Explorer </strong>9+</p>
            <p><i class="glyphicon glyphicon-ok"></i> <strong>Chrome </strong>33+</p>
            <p><i class="glyphicon glyphicon-ok"></i> <strong>Safari </strong>6+</p>
            <p><i class="glyphicon glyphicon-ok"></i> <strong>Firefox </strong>28+</p>
        </div>
        <div class="app-footer">
            <div class="container">
                ©2014 Daniel Vasilev
            </div>
        </div>
    </div>
</section>
