<div class="row" data-ng-controller="ProjectsController" data-ng-init="findOne()">
    <div class="app-intro project-header">
        <section class="container">
            <h1>{{project.title}}</h1>
            <h3>{{project.content}}</h3>
            <section data-ng-show="authentication.user._id == project.user._id">
                <div class="pull-right">
                    <a class="btn btn-info" ng-click="liveState(false)" ng-show="project.live === true">
                        <i class="glyphicon glyphicon-eye-open"></i> Онлайн
                    </a>
                    <a class="btn btn-warning" ng-click="liveState(true)" ng-show="project.live === false">
                        <i class="glyphicon glyphicon-eye-close"></i> Офлайн
                    </a>
                    <a class="btn btn-info" href="/#!/projects/{{project._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-info" ng-click="remove(project)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </section>
        </section>
    </div>
    <div class="container">
        <div class="col-md-3">
            <div class="panel panel-primary storage-statistics">
                <div class="panel-heading">
                    <h3 class="panel-title">Информация</h3>
                </div>
                <div class="panel-body">
                    <p>Създаден на: {{project.created | date:'dd.MM.yyyy'}}</p>
                    <p>от: {{project.user.displayName}}</p>
                    <p>Участници: {{ project.users }}</p>
                    <p>Файлове: {{ project.files }}</p>
                </div>
            </div>
            <div class="panel panel-primary storage-statistics">
                <div class="panel-heading">
                    <h3 class="panel-title">Участници</h3>
                </div>
                <div class="panel-body">
                    <p data-ng-repeat="member in project.members" class="member-row">
                        <span>{{ member.displayName }}</span>
                        <a href="" class="pull-right delete-member" ng-class="{ admin: '{{ member.id }}' == project.user._id , self: '{{ authentication.user._id }}' == member.id , deleteMember: '{{ authentication.user._id }}' == project.user._id }" ng-click="deleteMember()">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    <p>
                    <a href="" class="btn btn-primary pull-right add-member" ng-class="{ addMember: '{{ authentication.user._id }}' == project.user._id }" data-toggle="modal" data-target="#add-member-modal">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse navbar-inverse-collapse">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">Добави <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="" id="upload-file-link" data-toggle="modal" data-target="#upload-file-modal">Файл</a></li>
                                    <li><a href="" id="upload-file-cloud-link" data-toggle="modal" data-target="#upload-file-cloud-modal">Файл от облака</a></li>
                                    <li><a href="" id="create-folder-link" data-toggle="modal" data-target="#create-folder-modal">Папка</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="" ng-click="open()">Отвори</a>
                            </li>
                            <li>
                                <a href="" ng-click="storageDelete()">Изтрий</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="" class="dropdown-toggle" data-toggle="dropdown">Групирай <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="sortFilesBy = 'type'">Нормално</a></li>
                                    <li><a href="" ng-click="sortFilesBy = 'name'">Име</a></li>
                                    <li><a href="" ng-click="sortFilesBy = '-fileType'">Тип</a></li>
                                    <li><a href="" ng-click="sortFilesBy = 'data'">Дата</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="storage-explorer">
                    <div class="storage-explorer-head">
                        <div class="storage-explorer-col col-name">Име</div>
                        <div class="storage-explorer-col col-type">Тип</div>
                        <div class="storage-explorer-col col-size">Размер</div>
                        <div class="storage-explorer-col col-data">Дата</div>
                    </div>
                    <div class="storage-explorer-body">
                        <div class="storage-explorer-row" ng-click="storageBack()" data-ng-hide="path.length === 0">
                            <div class="storage-explorer-col col-name">...</div>
                        </div>
                        <div class="storage-explorer-row" data-ng-repeat="file in storage | orderBy: sortFilesBy" ng-click="storageChangeSelected()" ng-dblclick="open()" ng-class="{active: '{{ file._id }}' == selected }" id="storage-file-{{ file._id }}" data-name="{{ file.name }}" data-project="{{ project.title }}" data-projectid="{{ project._id }}" data-type="{{ file.type }}">
                            <div class="storage-explorer-col col-name">{{ file.name }}</div>
                            <div class="storage-explorer-col col-type">{{ file.fileType }}</div>
                            <div class="storage-explorer-col col-size">
                                <span ng-switch="file.size > 1024*1024" ng-if="file.type != 1">
                                    <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                                    <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                                </span>
                            </div>
                            <div class="storage-explorer-col col-data">{{ file.created | date: 'dd.MM.yyyy' }}</div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-warning text-center" style="margin-top: 20px;" data-ng-hide="!storage || storage.length">
                    Няма файлове в тази папка.
                </div>
            </div>
        </div>
    </div>

    <!-- Add Member -->
    <div class="modal" id="add-member-modal" role="dialog" aria-labelledby="Add Member" aria-describedby="Adding new member" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form data-ng-submit="addMember()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Добавяне на участник</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="memberName">Име:</label>
                            <input type="text" class="form-control" id="memberName" data-ng-model="$parent.memberName" required ng-change="findUser()" ng-trim='true'>
                            <input type="hidden" id="memberSelected" data-ng-model="memberSelected">
                        </div>
                        <div id="users-list">
                            <div class="storage-explorer-row" data-ng-repeat="user in users" ng-click="selectUser()" ng-class="{active: '{{ user._id }}' == selectedUser }">
                                <div class="storage-explorer-col col-name">{{ user.displayName }}</div>
                                <div class="storage-explorer-col col-type">{{ user.username }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отказ</button>
                        <input type="submit" class="btn btn-primary" value="Добави">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Create Folder -->
    <div class="modal" id="create-folder-modal" role="dialog" aria-labelledby="Create Folder" aria-describedby="Creating new Folder" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form data-ng-submit="storageCreate()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Нова папка</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="folderName">Име</label>
                            <input type="text" class="form-control" id="folderName" data-ng-model="folderName" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отказ</button>
                        <input type="submit" class="btn btn-primary" value="Създай">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Upload file form the Cloud -->
    <div class="modal" id="upload-file-cloud-modal" role="dialog" aria-labelledby="Upload file form the Cloud" aria-describedby="Uploading file form the Cloud" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <section data-ng-controller="StorageController" data-ng-init="init()">
                    <form data-ng-submit="uploadFileCloud()">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Добавяне на файл от облака</h4>
                        </div>
                        <div class="modal-body">
                            <div class="storage-explorer">
                                <div class="storage-explorer-head">
                                    <div class="storage-explorer-col col-name">Име</div>
                                    <div class="storage-explorer-col col-type">Тип</div>
                                    <div class="storage-explorer-col col-size">Размер</div>
                                </div>
                                <div class="storage-explorer-body">
                                    <div class="storage-explorer-row" ng-click="back()" data-ng-hide="path.length === 0">
                                        <div class="storage-explorer-col col-name">...</div>
                                    </div>
                                    <div class="storage-explorer-row" data-ng-repeat="file in storage | orderBy: sortFilesBy" ng-click="changeSelected(); openCloudFolder()" ng-class="{active: '{{ file._id }}' == selected }" id="storage-file-cloud-{{ file._id }}" data-name="{{ file.name }}">
                                        <div class="storage-explorer-col col-name">{{ file.name }}</div>
                                        <div class="storage-explorer-col col-type">{{ file.fileType }}</div>
                                        <div class="storage-explorer-col col-size">
                                            <span ng-switch="file.size > 1024*1024" ng-if="file.type != 1">
                                                <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                                                <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отказ</button>
                            <input type="submit" class="btn btn-primary" value="Добави">
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

    <!-- Upload File -->
    <div class="modal" id="upload-file-modal" role="dialog" aria-labelledby="Add File" aria-describedby="Uploading File" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" data-ng-controller="ProjectsFilesUploadController">
                <form enctype="multipart/form-data">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Качване на файл</h4>
                    </div>
                    <div id="dropbox" class="modal-body">
                        <div class="alert alert-dismissable alert-warning">
                            <div ng-class="dropClass" style="color: #FFF !important;">
                                <input type="file" ng-model-instant id="fileToUpload" name="uploadFile" multiple onchange="angular.element(this).scope().fileUpload.setFiles(this)" /><br />
                                <span>{{fileUpload.dropText}}</span>
                            </div>
                            <div ng-show="fileUpload.files.length">
                                <div ng-repeat="file in fileUpload.files">
                                    <span>{{file.webkitRelativePath ||file.name}}</span>
                                    (<span ng-switch="file.size > 1024*1024">
                                    <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                                    <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                                </span>)
                                </div>
                                <div ng-show="fileUpload.progressVisible">
                                    <div class="percent">{{fileUpload.progress}}%</div>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar" ng-style="{'width': fileUpload.progress+'%'}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отказ</button>
                        <input type="submit" class="btn btn-primary" ng-click="fileUpload.uploadFile()" value="Качи">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>